<!-- Sidebar -->
<nav id="sidebar">

    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">

        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">

            <!-- Side Header -->
            <div class="side-header side-content bg-white-op">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>

                <NavLink class="h5 text-white" href="/">
                    <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ne</span>
                </NavLink>
            </div>
            <!-- END Side Header -->
            <!-- Side Content -->
            <div class="side-content">

                <ul class="nav-main">

                    <li>
                        <NavLink class="active" href="/">
                            <i class="si si-speedometer"></i><span class="sidebar-mini-hide">Overview</span>
                        </NavLink>
                    </li>

                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Server</span></li>
                    <li>
                        <NavLink href="/server">
                            <i class="si si-badge"></i><span class="sidebar-mini-hide">Server Overview</span>
                        </NavLink>
                    </li>

                </ul>

            </div>
            <!-- END Side Content -->

        </div>
        <!-- Sidebar Content -->

    </div>
    <!-- END Sidebar Scroll Container -->

</nav>
<!-- END Sidebar -->