<div class="sidebar-content js-simplebar">

    <NavLink class="sidebar-brand" href="/">
        <span class="align-middle">HCloud.NET</span>
    </NavLink>

    <ul class="sidebar-nav">
        <li class="sidebar-header">
            Sites
        </li>

        <li class="sidebar-item">
            <NavLink class="sidebar-link" href="/server">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Server</span>
            </NavLink>
        </li>
    </ul>

</div>