$spacer: 16px;

@for $i from 0 through 5 {

    .m-#{$i} {
        margin: $spacer * ($i * 0.25);
    }
}

@for $i from 0 through 5 {

    .ms-#{$i} {
        margin-left: $spacer * ($i * 0.25);
    }
}

@for $i from 0 through 5 {

    .mt-#{$i} {
        margin-top: $spacer * ($i * 0.25);
    }
}

@for $i from 0 through 5 {

    .me-#{$i} {
        margin-right: $spacer * ($i * 0.25);
    }
}

@for $i from 0 through 5 {

    .mb-#{$i} {
        margin-bottom: $spacer * ($i * 0.25);
    }
}
