@page "/server/{Id:long}"
@using lkcode.hetznercloudapi.Instances.Server;

<PageTitle>Server: @Server?.Name</PageTitle>

<div class="container-fluid p-0">

    <div class="row">

        <div class="col-12">

            <header class="header mb-3">

                <button type="button" class="btn btn-primary btn-sm" @onclick="() => OnHomeClick()">
                    <i class="bi bi-house me-2"></i>
                    <span class="align-middle">Back to Overview</span>
                </button>

            </header>

        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-8">

            <h1 class="mb-3">Server: #@Server?.Id - @Server?.Name</h1>

            <section class="server-actions-bar mb-3">
                <button type="button" class="btn btn-danger btn-sm" @onclick="() => OnServerShutdownClick()">
                    <i class="bi bi-trash3 me-2"></i>
                    <span class="align-middle">Shutdown</span>
                </button>
            </section>

        </div>

        <div class="col-12 col-md-4">
        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <footer>
                <textarea class="log-container">@LogStringBuilder.ToString()</textarea>
            </footer>

        </div>

    </div>

</div>