@page "/server/{Id:long}"
@using lkcode.hetznercloudapi.Instances.Server;

<PageTitle>hcloud.net | Server: @Server?.Name</PageTitle>

<PageHeader Title="@string.Format($"Server: #{Server?.Id} - {Server?.Name}")"
            Breadcrumbs="@Breadcrumbs" />

<div class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12">

                <ActionBar>

                    <button type="button" class="btn btn-primary btn-sm" @onclick="() => OnHomeClick()">
                        <i class="bi bi-house me-2"></i>
                        <span class="align-middle">Back to Overview</span>
                    </button>

                    <button type="button" class="btn btn-danger btn-sm" @onclick="() => OnServerShutdownClick()">
                        <i class="bi bi-trash3 me-2"></i>
                        <span class="align-middle">Shutdown</span>
                    </button>

                </ActionBar>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <footer>
                    <textarea class="log-container">@LogStringBuilder.ToString()</textarea>
                </footer>

            </div>

        </div>

    </div>

</div>