<!-- Page Header -->
<div class="content bg-gray-lighter">

    <div class="row items-push">

        <div class="col-sm-7">
            <h1 class="page-heading">@Title</h1>
        </div>

        @if (Breadcrumbs != null && Breadcrumbs.Count() > 0)
        {
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    @foreach (var link in Breadcrumbs)
                    {
                        <li>
                            <a class="link-effect" href="@link.Key">@link.Value</a>
                        </li>
                    }
                </ol>
            </div>
        }

    </div>

</div>
<!-- END Page Header -->